.p-0 {
	padding: 0 !important;
}
.p-5 {
	padding: 5px !important;
}
.p-10 {
	padding: 10px !important;
}
.p-15 {
	padding: 15px !important;
}
.p-20 {
	padding: 20px !important;
}
.p-25 {
	padding: 25px !important;
}
.p-30 {
	padding: 30px !important;
}
.p-35 {
	padding: 35px !important;
}
.p-40 {
	padding: 40px !important;
}
.p-t-20 {
	padding-top: 20px !important;
}


.m-0 {
	margin: 0 !important;
}
.m-5 {
	margin: 5px !important;
}
.m-10 {
	margin: 10px !important;
}
.m-15 {
	margin: 15px !important;
}
.m-20 {
	margin: 20px !important;
}
.m-25 {
	margin: 25px !important;
}
.m-30 {
	margin: 30px !important;
}
.m-35 {
	margin: 35px !important;
}
.m-40 {
	margin: 40px !important;
}